services:
  bot:
    image: verozroke/bi-bot:latest
    restart: always
    environment:
      DATABASE_URL: 'postgresql://postgres:postgres@localhost:5432/telegrambot'
      BOT_TOKEN: '7348341691:AAH9o-XNMmGKbA9BkAkh8bahFR8fhhAmQIM'
      ADMIN_SECRET: 'P@55w0rd!'
      CHANNEL_SECRET: 'P@55w0rd!'
      GEMINI_API_KEY: 'AIzaSyBaTRUeo1YB-aKqA0rBjmWdCizr8Es16zc'
      GOOGLE_SHEETS_ID: '1GE-e-XsyT63Gfrrm8NOMZT-H-xlPG6qXD3SD-yuFWf8'

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
