version: '3.8'

services:
  bot:
    build: .
    container_name: udemy-bot
    restart: unless-stopped

    env_file:
      - .env

    volumes:
      - ./credentials/google-sheets:/app/secret
    networks:
      - backend
    command: ['node', 'dist/index.js']

  db:
    image: postgres:15
    container_name: telegram-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: telegrambot
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    networks:
      - backend

volumes:
  pgdata:

networks:
  backend:
