services:
  bot:
    build: .
    container_name: udemy-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./credentials/google-sheets:/app/secret
    depends_on:
      - db
    networks:
      - backend

  db:
    image: postgres:15
    container_name: telegram-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: telegrambot
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend

volumes:
  pgdata:

networks:
  backend:
